* {
  margin: 0;
  padding: 0;
}

body {
  padding: 25px;
}

div.campo {
  margin: 50px auto;
  width: 645px;
  height: 320px;
}

div.campo div.fila div {
  background-color: gray;
  display: inline-block;
  margin: 2px;
  width: 100px;
  height: 100px;
  position: relative;
}

div.campo div.fila div:hover {
  background-color: green;
}

div.campo div.fila div.mina:hover {
  background-color: red;
}

div.campo div.fila div.mina:hover::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 70px;
  top: 10px;
  left: 20px;
  content: "\f1e2";
}
