body {
  background-color: rgb(0, 0, 92);
  padding: 60px;
  color: rgb(0, 0, 43);
}

.conborde {
  padding: 25px;
  padding-top: 10px;
  background-color: rgb(142, 142, 185);
  border: 3px solid rgb(255, 255, 255);
  max-width: 85%;
  margin: auto;
}

h1.titulo-principal {
  font-size: 3em;
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 3px dotted;
}

p {
  margin-bottom: 40px;
}

li {
  list-style: square;
  padding: 10px;
}

li:nth-child(even) {
  background-color: rgb(121, 121, 158);
}

a {
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
}
