* {
  margin: 0;
  padding: 0;
}

body {
  padding: 25px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 216px;
}

.container .thumb {
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  display: inline-flex;
  margin: 3px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}
