* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  font-family: "Muli", sans-serif;
  padding: 15px;
}

.card {
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  min-width: 29%;
  margin: 1%;
  border: 1px solid rgb(177, 176, 176);
}

img {
  border-radius: 12px;
  width: 100%;
}

.precio {
  margin: 10px 10px 5px 9px;
  font-size: 1.5em;
  font-weight: 900;
}

.titulo {
  margin: 0px 10px 5px 9px;
  font-size: 25px;
}

.descripcion {
  margin: 15px 10px 15px 9px;
  font-style: italic;
  color: gray;
}

.botones {
  display: inline-block;
  width: 100%;
}

div.far {
  width: 48%;
  height: 40px;
  display: inline-block;
  text-align: center;
  padding: 15px 0;
  margin: 5px 0;
}

div.fa-heart {
  border-right: 1px solid lightgray;
  color: red;
}

div.fa-comment {
  color: lightgreen;
}

div.fa-highlighter {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: aqua;
  border-radius: 45px;
  color: white;
  padding: 15px;
}
