body {
  background-color: #f4f4f4;
  padding: 40px;
}

h1.fnt-red {
  color: red;
}
.fnt-blue {
  color: blue;
}
#nombre_alumno {
  color: red;
  text-decoration: underline;
}

.titulo {
  color: lightblue;
  font-size: 30px;
  font-style: italic;
  font-weight: 900;
  margin: 15px 0px;
}

.texto {
  color: darkblue;
  font-size: 15px;
  margin-bottom: 25px;
}

.destacado {
  font-style: italic;
  font-weight: bold;
}
