* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 25px;
  position: relative;
}

div {
  margin: 25px auto;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  padding: 25px;
  background-color: burlywood;
}

.menu li {
  line-height: 2em;
}
