* {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
  background-color: lightgray;
}

.atras {
  width: 100%;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 40px;
}

.franja {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  z-index: 10;
}

.franja.superior {
  left: 0;
  top: 0;
  background-color: blue;
}

.franja.inferior {
  left: 0;
  bottom: 0;
  background-color: red;
}

.forever {
  position: relative;
  margin: auto;
  width: 50%;
  background-color: darkred;
  color: white;
  font-size: 8vw;
  padding: 80px 35px;
  text-align: center;
  margin-bottom: 120px;
}

.forever .bola {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  border: 5px solid darkred;
  background-color: white;
}

.forever .bola.top-left {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.forever .bola.top-right {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.forever .bola.bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.forever .bola.bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.bicolor {
  position: relative;
  font-size: 2.5vw;
  text-align: center;
  width: 50%;
  margin: auto;
  background-color: white;
  padding: 50px 50px;
  z-index: 1;
  margin-bottom: 100px;
  border-radius: 32px;
  overflow: hidden;
}

.bicolor .azul {
  position: absolute;
  top: 0;
  right: 0;
  background-color: cyan;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.bicolor p.ontop {
  position: relative;
  z-index: 2;
}
