* {
  margin: 0;
  padding: 0;
}

body {
  padding: 25px;
  font-family: "Oldenburg", cursive;
}

.container {
  width: 70%;
  margin: 0 auto;
}

p {
  margin: 50px 0;
}

p::first-line {
  color: darkred;
}

p::first-letter {
  font-size: 3em;
}
