html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 25px;
}
div.container {
  margin: 15px auto;
  width: 800px;
  position: relative;
}

div.perfil {
  padding-top: 25px;
  margin-bottom: 100px;
}

div.fecha {
  margin-top: 15px;
}

.total {
  font-size: 20px;
  font-weight: 900;
}

.title {
  font-size: 18px;
}

.border-bottom-2 {
  border-bottom: 2px solid lightgreen;
}

.border-bottom-4 {
  border-bottom: 4px solid lightgreen;
}

div.derecha {
  position: absolute;
  top: 25px;
  right: 0;
}

div.cliente {
  margin-top: 10px;
  border-left: 7px solid lightgreen;
  border-right: 7px solid lightgreen;
  padding: 3px 15px;
}

div.cliente h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.descripcion {
  padding-left: 25px;
}
