body {
  padding: 25px;
  background-color: rgb(86, 86, 122);
}

a {
  color: white;
}

h1 {
  font-size: 2em;
  text-align: center;
  color: lightcoral;
}
div.gato {
  background-color: rgb(119, 119, 168);
  border: 3px dotted blue;
  margin: 15px;
  padding: 25px;
}
